<!-- Software Solutions -->
<section id="go-to-up"></section> 

<div class="container-fluid">
    <div class="row front-row">
        <div class="col front-col" id="right-side">
            <h1 class="headline"> Software Solutions </h1>
            <br/>
            <p id="welcome-text">
                We provide specialized software development services, including dedicated teams and managed 
                services, for small and medium-sized businesses as well as major corporations. 
            </p>
            <button class="learn-more btn btn-primary"> 
                <a (click)="onClick('direct-element')"> Learn more </a>
            </button>
        </div>
        <div class="col front-col">
            <img src="https://img.freepik.com/free-vector/custom-style-script-website-optimization-coding-software-development-female-programmer-cartoon-character-working-adding-javascript-css-code_335657-2370.jpg" alt="dcf" class="front-page-image" width="550em" height="500em">
        </div>
    </div>
</div> 


<section class="contact-section">
    <div class="col">
      <h1 class="text-center headline-4">
        Driving Software applications and solutions across Industries
      </h1>
      <div class="col text-center">
        <button type="button" class="btn btn-outline-primary btn-rounded">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
              Contact Us </a>
        </button>
      </div>
    </div>
</section>


<div class="grid" id="direct-element">
    <div class="row software-solutions-row">
        <div class="col">
            <div class="card solutions-card-img">
                <img src="https://www.cerdonis.tech/Content/images/allpage/iotapps.png" class="card-img-service" alt="...">
            </div>
        </div>
        
        <div class="col">
            <div class="card solutions-card-text">
                <p class="fs-2"> Internet of Things (IoT) applications </p>
                    <p id="solution-text">
                        Through the use of the Internet of Things, items can connect to the Internet and 
                        communicate with one another. All of these things, including a clock, heart monitor, 
                        door sensor, and even the vehicle you're driving, can be connected to one another 
                        and exchange signals. These things have an allocated IP address and are capable of 
                        acting independently of human orders.

                        We create cutting-edge Internet of Things (IoT) solutions that have been shown to 
                        be beneficial in a number of industries, including manufacturing, transportation, 
                        supply chains, logistics, retail, healthcare, etc.
                    </p>
            </div>
        </div>
    </div>

    <div class="row software-solutions-row row-even">
        <div class="col">
            <div class="card solutions-card-text">
                <p class="fs-2"> Full ERP Solution </p>
                    <p id="solution-text">
                        ERP is a class of software solution that assists firms in managing and automating 
                        critical business activities for optimum performance. By coordinating the data flow 
                        between a company's business activities, ERP software creates a single source of 
                        truth and streamlines operations throughout the whole organization. The financials, 
                        supply chain, operations, business, reporting, manufacturing, and human resources 
                        functions of an organization can all be integrated onto one platform.

                        We can assist you in developing an ERP solution that satisfies your business requirements 
                        and is consistent with the goals of your company.
                    </p>
            </div>
        </div>

        <div class="col">
            <div class="card solutions-card-img">
                <img src="https://www.sibitalent.com/assets/img/itstaffing/erp.png" class="card-img-service" alt="...">
            </div>
        </div>
    </div>

    <div class="row software-solutions-row">
        <div class="col">
            <div class="card solutions-card-img">
                <img src="https://img.freepik.com/premium-vector/big-data-analytics-abstract-concept-vector-illustration_107173-25643.jpg" class="card-img-service" alt="...">
            </div>
        </div>
        
        <div class="col">
            <div class="card solutions-card-text">
                <p class="fs-2"> Big Data and Analytics solutions </p>
                    <p id="solution-text">
                        Make smarter, quicker decisions by utilizing cutting-edge business intelligence tools and 
                        a data science methodology that combines statistical and machine learning methodologies.
                        Our Big Data & Analytics solutions help build intelligent solutions for data-driven businesses, 
                        offering data management, business intelligence, data visualization, and advanced analytics. 
                    </p>
            </div>
        </div>
    </div>

    <div class="row software-solutions-row row-even">
        <div class="col">
            <div class="card solutions-card-text">
                <p class="fs-2"> Anti-Money Laundering </p>
                    <p id="solution-text">
                        We offer regulatory-driven, proactive consumer transactional analysis. Our assistance with 
                        Suspicious Activity Reporting (SAR) regulations and the creation of defense plans for criminal 
                        and civil investigations involves the identification of pertinent transactions. The management 
                        reporting and business as usual transaction monitoring methods are improved and modified using 
                        the lessons learnt from the transactional analysis. We address a variety of AML compliance 
                        concerns with powerful analytics.
                    </p>
            </div>
        </div>

        <div class="col">
            <div class="card solutions-card-img">
                <img src="https://namescan.io/assets/images/know-your-business-slider.svg" class="card-img-service" alt="...">
            </div>
        </div>
    </div>

    <div class="row software-solutions-row">
        <div class="col">
            <div class="card solutions-card-img">
                <img src="https://img.freepik.com/premium-vector/happy-businesswoman-working-computer-with-smiling-face-workplace-work-satisfaction-with-corporate-employee-wellbeing-concept_610956-1633.jpg?" class="card-img-service" alt="...">
            </div>
        </div>
        
        <div class="col">
            <div class="card solutions-card-text">
                <p class="fs-2"> Smart Office Solution </p>
                    <p id="solution-text">
                        A smart office is a place of work where firms use contemporary technology to operate more 
                        efficiently. Our service offerings cover the entire spectrum of an organization's IT 
                        requirements, including enterprise security, end-user computing, enterprise networking, 
                        data centers, and other types of IT infrastructure. We also manage aspects of office buildings 
                        for a longer period of time, such as HVAC and light control, as well as civil work (such as 
                        gypsum, interior design, and furnishing).
                    </p>
            </div>
        </div>
    </div>

</div>
