<!-- Enterprise infrastructure -->
<div class="container-fluid">
    <div class="row front-row">
        <div class="col front-col" id="right-side">
            <h1 class="headline"> Enterprise IT infrastructure </h1>
            <br/>
            <p id="welcome-text">
            We can provide the finest solutions and services to our devoted customers since our 
            Enterprise Network Solutions are integrated with the leading technology partners in the market.
            Our customers who depend on us to give them dependable networking solutions for their 
            infrastructure will benefit greatly from the experience and certification of the professionals 
            we employ in the design and implementation of network infrastructure solutions.
            </p>

            <button class="learn-more btn btn-primary"> 
                <a (click)="onClick('direct-element')"> Learn more </a>
            </button>
        </div>
        <div class="col front-col">
            <img src="https://res.cloudinary.com/instahippo/image/upload/v1626429120/illustrations/enterprise_networking_hjooa5.svg" alt="dcf" class="front-page-image" width="700em" height="500em">
        </div>
    </div>
</div>


<section class="contact-section">
    <div class="col ">
      <h1 class="text-center headline-4">
        Would you like to start a project with us?
      </h1>
      <div class="col text-center">
        <button type="button" class="btn btn-outline-primary btn-rounded">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
              Contact Us </a>
        </button>
      </div>
    </div>
</section>


<div class="grid" id="direct-element">
    <div class="row enterprise-solutions-row">
        <div class="col col-sm-* col-md-* col-lg-* enterprise-col">
            <div class="card solutions-card-img">
                <img src="https://img.freepik.com/free-vector/business-people-using-laptop-smartphone-with-wifi-connection-wi-fi-connection-wifi-communication-technology-free-internet-services-concept-bright-vibrant-violet-isolated-illustration_335657-973.jpg?" class="card-img-service" alt="...">
            </div>
        </div>
  
        <div class="col col-sm-* col-md-* col-lg-* enterprise-col">
            <div class="card solutions-card-text">
                <p class="fs-2"> Wireless LAN </p>
                    <p id="solution-text">
                        802.11ac Wave 2 features multiuser multiple input, multiple output (MU-MIMO), which offers 
                        additional streams and larger channel capacity for better user access, more adaptable 
                        bandwidth pairing, and increased throughput.
                        
                        Using the most recent technology, we build wireless networks both indoor and outdoor. 
                        We also offer 802.11ac wave 2 solutions that are cloud-managed, have cutting-edge management 
                        capabilities, and offer high capacity and quick installation. 
                    </p>
            </div>
        </div>
    </div>

    <div class="row enterprise-solutions-row row-even">
        <div class="col">
            <div class="card solutions-card-text">
                <p class="fs-2"> WAN Optimization </p>
                    <p id="solution-text">
                        The procedures of maximizing, speeding up, or virtualizing an enterprise wide area network 
                        are known as WAN optimization solutions. Networks require ongoing optimization. Businesses 
                        must make sure they are giving their customers the highest possible quality of experience 
                        as traffic grows, networks change, and grow.
                        
                        Managed WAN Optimization Services establish a fast lane for your vital data and apps, from 
                        transaction-processing systems to corporate resource planning software. We design optimization 
                        plans specifically for your company based on our experience managing networks, hosting, 
                        and security equipment.
                    </p>
            </div>
        </div>

        <div class="col">
            <div class="card solutions-card-img">
                <img src="https://img.freepik.com/premium-vector/team-is-processing-cloud-server-data_18660-3279.jpg" class="card-img-service" alt="...">
            </div>
        </div>
    </div>

    <div class="row enterprise-solutions-row">
        <div class="col">
            <div class="card solutions-card-img">
                <img src="https://img.freepik.com/free-vector/creative-team-concept-illustration_114360-6488.jpg" class="card-img-service" alt="...">
            </div>
        </div>
        
        <div class="col">
            <div class="card solutions-card-text">
                <p class="fs-2"> Collaboration </p>
                    <p id="solution-text">
                        Modern workplace enables organizations to operate smarter, faster, and more nimbly than 
                        ever before in a world that is both more competitive and changing quickly. Stay up to date 
                        with technology so you can concentrate on expanding your company. No matter how big or small 
                        your organization is, our solutions are made to fit your needs. 
                        
                        Voicemail, extended mobility, video conferencing to replace in-person meetings and boost 
                        participant engagement, instant messaging, and contact centers to offer ongoing customer 
                        assistance are just a few of our Collaboration Solutions.
                    </p>
            </div>
        </div>
    </div>

    <div class="row enterprise-solutions-row row-even">
        <div class="col">
            <div class="card solutions-card-text">
                <p class="fs-2"> Infrastructure </p>
                    <p id="solution-text">
                        A well planned IT infrastructure solution can significantly reduce the costs and boost 
                        revenues. With the growth of an organization, IT infrastructure grows even more 
                        rapidly from few servers initially to large data centers housing the modern technology. 

                        We offer specialized IT infrastructure solutions, including facility management, equipment 
                        supply, installation, and commissioning. Our solid business relationships with top industry 
                        firms like Microsoft, HP, DELL, and many others enable us to provide a one-stop solution 
                        for all of your infrastructure requirements.
                    </p>
            </div>
        </div>

        <div class="col">
            <div class="card solutions-card-img">
                <img src="https://img.freepik.com/premium-vector/computer-network-server-data_18660-1567.jpg?" class="card-img-service" alt="...">
            </div>
        </div>
    </div>

</div>
