<!-- About Us-->
<section id="go-to-up"></section> 

<div class="container-fluid">
    <div class="row front-row">
        <div class="col front-col" id="right-side">
            <h1 class="headline"> About Us </h1>
            <br/>
            <p id="welcome-text">
                Convergence IT Solutions is a leading provider of consulting services and IT solutions
                in order to help our clients use cutting edge technologies to boost their businesses. 
                Our vision is to become a market leader in providing innovative and useful solutions to clients. 
                We are dedicated to finding solutions to problems. We are also really good at it. 
                However the peculiar or challenging the problem is, if it can be resolved, we will. 
                Irrespective of your company size, if you require our help with business operations or 
                processes, storage, or security, we have the right solutions for your need.
            </p>
            <button class="learn-more btn btn-primary"> 
              <a (click)="onClick('direct-element')"> Learn more </a>
            </button>
        </div>
        <div class="col front-col">
            <img src="https://img.freepik.com/premium-vector/about-us-flat-editable-vector-download_203633-1977.jpg?w=2000" alt="dcf" class="front-page-image" width="700em" height="500em">
        </div>
    </div>
</div>


<section class="contact-section">
    <div class="col ">
      <h1 class="text-center headline-4">
        Would you like to start a project with us?
      </h1>
      <div class="col text-center">
        <button type="button" class="btn btn-outline-primary btn-rounded">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
            Contact Us </a>
        </button>
      </div>
    </div>
</section>


<section class="content-section" id="direct-element">
        <div class="content-body">
            <h1 class="content-headline">
                We value human organizational and operational intelligence
            </h1>
            <br>
            <p class="text-content">
                Organizational and Operational intelligence is an approach to data analysis that enables 
                decisions and actions in business operations to be based on real-time data as it's generated 
                or collected by companies. Typically, the data analysis process is automated, and the 
                resulting information is integrated into operational systems for immediate use by business 
                managers and workers. 
                
                The growth of IoT has sparked operational intelligence applications 
                for analyzing sensor data being captured from manufacturing machines, pipelines, 
                elevators and other equipments. We enabled predictive maintenance efforts designed 
                to detect potential equipment failures before they occur, using such applications.
                <br><br>

                Our company offers analysis, architecture, network design, deployment, support 
                as well as procurement services for the implementation of information and 
                communications technologies, providing cost-effective business solutions to 
                public and private clients. 

                Convergence offers Information Technology services and solutions ranging from 
                IT strategic consulting to implementation within organizations. We work in 
                partnership with your team or with the help of our outsourcing staff.

                Convergence strives to market tailored solutions rather than just generic items, 
                thus we don't only put up IT infrastructures. We lay the groundwork required for 
                growth of your business. We take care of the strategic approach, thinking, and 
                consultation. We pay attention, we comprehend your situation, and we present the 
                technology option that will actually be the most effective. 
            
                Consulting with Convergence entails Complete project management, Strategic study 
                of your business difficulties leading to specialized solutions, and Expertise 
                deployment inside your organization.
            </p>
        </div>
</section>


<section class="vision-section">
    <div class="row row-vision">
        <div class="col col-sm-* col-md-* col-lg-* col-vision">
          <div class="card vision-cards">
            <div class="card-body">
              <hr class="line-top">
              <h1 class="card-title">Our Vision</h1>
              <p class="card-text">
                Being a reliable IT firm that customers rely on for service excellence working with
                them to deliver value-driven IT services, and becoming the driving force for
                Ethiopia's IT sector is our goal.
              </p>
            </div>
          </div>
        </div>
        <div class="col col-sm-* col-md-* col-lg-* col-vision">
          <div class="card vision-cards">
            <div class="card-body">
              <hr class="line-top">
              <h1 class="card-title">Our Mission</h1>
              <p class="card-text">
                Convergence IT Solutions is committed to helping you stay updated with the changing
                technology, and adapt your infrastructure for the future while resolving your most
                difficult IT problems, providing easy and scalable IT services.
              </p>
            </div>
          </div>
        </div>
        <div class="col col-sm-* col-md-* col-lg-* col-vision">
            <div class="card vision-cards">
                <div class="card-body">
                    <hr class="line-top">
                    <h1 class="card-title"> What We Do </h1>
                    <ul class="list-group list-unstyled card-text">
                        <li class="list-group-item borderless"> 
                            <i class="fa-solid fa-caret-right"></i> <span class="list-group-item-name"> Enterprise Network infrastructure </span></li>
                        <li class="list-group-item borderless"> 
                            <i class="fa-solid fa-caret-right"></i> <span class="list-group-item-name"> Software Solutions </span></li>
                        <li class="list-group-item borderless"> 
                            <i class="fa-solid fa-caret-right"></i> <span class="list-group-item-name"> Supply of materials</span></li>
                        <li class="list-group-item borderless"> 
                            <i class="fa-solid fa-caret-right"></i> <span class="list-group-item-name"> Consultancy and technical support </span></li>
                      </ul>
                  </div>
            </div>
          </div>
      </div>
</section>


<section class="team-section">
  <div class="row front-row">
      <div class="col front-col" id="right-side">
          <h1 class="headline"> Our Team </h1>
          <br/>
          <p id="welcome-text">
            Our team is made up of leading certified IT engineers with many years of hands
            on experience in Implementation and Consultancy, HR, Facility, and Finance
            Management experts who can rise to every challenge with utmost efficiency,
            sales professionals that are highly qualified and constantly looking into the
            actual needs of our Customers relying on the recent technical developments in
            the industry and focusing on achieving the best possible cost-benefit
            relationship, and organized project managers who highly focus on customer
            satisfaction and use the best communication techniques to make sure that our
            projects are closed with an efficient balance of project constraints. Top-level
            executives work closely with all other employees in order to maximize
            operational efficiency and streamline activities by facilitating learning and
            continuous skill development. Our department heads bring diverse sets of
            expertise from their respective wide-ranging backgrounds.
          </p> 
      </div>
      <div class="col front-col">
          <img src="https://img.freepik.com/free-vector/business-team-putting-together-jigsaw-puzzle-isolated-flat-vector-illustration-cartoon-partners-working-connection-teamwork-partnership-cooperation-concept_74855-9814.jpg" alt="dcf" class="front-page-image" width="700em" height="500em">
      </div>
  </div>
</section>

