<!-- Cloud Solutions -->
<section id="go-to-up"></section>

<div class="container-fluid">
    <div class="row front-row">
        <div class="col front-col" id="right-side">
            <h1 class="headline"> Cloud managed solutions </h1>
            <br/>
            <p id="welcome-text">
                Managed cloud services provide full or partial administration of a client's cloud infrastructure 
                or resources. Migration, security, configuration, optimization, and maintenance are all examples 
                of management duties. These services are created to help enterprises get the most out of cloud 
                computing while spending the least amount of time and money internally. We offer services for 
                cloud integration and resource efficiency.
            </p>
            <button class="learn-more btn btn-primary"> 
                <a (click)="onClick('direct-element')"> Learn more </a>
            </button>
        </div>
        <div class="col front-col">
            <img src="https://img.freepik.com/premium-vector/solution-cloud-server-analysis-process_18660-3064.jpg?w=2000" alt="dcf" class="front-page-image" width="600em" height="500em">
        </div>
    </div>
</div>


<section class="contact-section">
    <div class="col ">
      <h1 class="text-center headline-4">
        Manage your IT Infrastructure with our Cloud Solutions
      </h1>
      <div class="col text-center">
        <button type="button" class="btn btn-outline-primary btn-rounded">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
              Contact Us </a>
        </button>
      </div>
    </div>
</section>


<div class="grid" id="direct-element">
    <div class="row enterprise-solutions-row">
        <div class="col">
            <div class="card solutions-card-img">
                <img src="https://thumbs.dreamstime.com/b/tiny-people-testing-quality-assurance-software-tiny-people-testing-quality-assurance-software-isolated-flat-vector-199136390.jpg" class="card-img-service" alt="...">
            </div>
        </div>
        
        <div class="col">
            <div class="card solutions-card-text">
                <p class="fs-2"> Quality assurance </p>
                    <p id="solution-text"> 
                        To make sure that the apps function properly after being relocated to a cloud environment, 
                        quality assurance is essential. In the event of a full rewrite on Cloud Native for a 
                        Microservices-Based architecture, in addition to a full traditional functional and 
                        non-functional testing required executed, contract testing and resiliency testing are 
                        also crucial to ensure all services are developed as per requirement and built with 
                        resiliency.
                        
                        Our Cloud Quality Assurance solution will help you successfully migrate to the cloud, 
                        reduce costs by carrying out the proper testing for the various migration options, and 
                        test the resilience of microservices in-house. 
                    </p>
            </div>
        </div>
    </div>

    <div class="row enterprise-solutions-row row-even">
        <div class="col">
            <div class="card solutions-card-text">
                <p class="fs-2"> Cloud ERP Software </p>
                    <p id="solution-text"> 
                        As opposed to an on-premises network, cloud ERP is an enterprise resource planning (ERP) 
                        system that enables enterprises to access through the internet. It runs on a vendor's 
                        cloud platform. ERP software helps with procurement, production, distribution, and 
                        fulfillment by integrating and automating key financial and operational company processes. 
                        It also manages inventory, orders, and the supply chain. All that is required to access 
                        the software is an internet connection and a browser.
                    </p>
            </div>
        </div>

        <div class="col">
            <div class="card solutions-card-img">
                <img src="https://img.freepik.com/free-vector/hand-drawn-flat-design-erp-illustration_23-2149383351.jpg" class="card-img-service" alt="...">
            </div>
        </div>
    </div>

    <div class="row enterprise-solutions-row">
        <div class="col">
            <div class="card solutions-card-img">
                <img src="https://img.freepik.com/premium-vector/cyber-security-vector-logo-with-shield-check-mark-security-shield-concept_100456-3688.jpg" class="card-img-service" alt="...">
            </div>
        </div>
        
        <div class="col">
            <div class="card solutions-card-text">
                <p class="fs-2"> Cloud Security </p>
                    <p id="solution-text">
                        Our Managed Cloud Security solution outsources security 
                        monitoring, reporting, and technical assistance to a third party. It involves managing 
                        firewalls, intrusion detection systems, the company's virtual private network (VPN), 
                        anti-virus set-up, and vulnerability assessments. 
                        
                        With years of experience in the IT sector, we are a consulting partner that provides complete 
                        cloud managed security solutions. Our focus is on scalability, agility, flexibility to use 
                        both your proprietary and open-source tools in the cloud, effective use of strong security 
                        operation tools, and compliance with security regulations to help you protect your data.
                    </p>
            </div>
        </div>
    </div>

    <div class="row enterprise-solutions-row row-even">
        <div class="col">
            <div class="card solutions-card-text">
                <p class="fs-2"> VISP Services </p>
                    <p id="solution-text"> 
                        A number of choices that give the speed and network dependability to serve enterprises are 
                        available with the Virtual ISP wholesale product, which was created to provide business-grade 
                        internet network access. We offer convenient, scalable, and reliable internet. A fantastic 
                        option for companies of all sizes in both the public and private sectors.
                    </p>
            </div>
        </div>

        <div class="col">
            <div class="card solutions-card-img">
                <img src="https://img.freepik.com/premium-vector/isp-internet-service-provider-illustration-with-keywords-icons-intranet-access-secure_2175-6119.jpg" class="card-img-service" alt="...">
            </div>
        </div>
    </div>

</div>
