<!-- Projects --> 
<section id="go-to-up"></section> 
 
<div class="container-fluid">
    <div class="row front-row">
        <div class="col front-col" id="right-side">
            <h1 class="headline"> Projects </h1>
            <br/>
            <p id="welcome-text">
                We have completed several projects with best quality, sharp project 
                management, and priceless dedication of our experts. View a list of the projects we finished for the public and private sectors 
                across different industries.
            </p>
            <button class="learn-more btn btn-primary"> 
                <a (click)="onClick('direct-element')"> Learn more </a>
            </button>
        </div>
        <div class="col front-col">
            <img src="https://img.freepik.com/free-vector/time-management-concept-illustration_114360-1013.jpg?w=2000" alt="dcf" class="front-page-image" width="700em" height="500em">
        </div>
    </div>
</div>
 

<section class="contact-section">
    <div class="col ">
      <h1 class="text-center headline-4">
        Would you like to start a project with us?
      </h1>
      <div class="col text-center">
        <button type="button" class="btn btn-outline-primary btn-rounded">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
              Contact Us </a>
        </button>
      </div>
    </div>
</section>


<div class="grid" id="direct-element">
    <a class="card-button" routerLink="/projects/wollo-smart-classroom" routerLinkActive="active" ariaCurrentWhenActive="page">
    <div class="row projects-row">
        <div class="col">
            <div class="card projects-card-img">
                <img src="https://img.freepik.com/free-vector/group-video-concept-illustration_114360-4952.jpg" class="card-img-service" alt="...">
            </div>
        </div>
        
        <div class="col">
            <div class="card projects-card-text">
                <p class="fs-2"> Mekdela Amba University </p>
                <p id="projects-text">
                    <strong> Project deliverable: </strong>
                    Network Infrastructure Upgrade, Microsoft Teams, and Zoom Licensing  
                </p>
                <p id="projects-text">
                    <strong> Project Size: </strong> 1M+ ETB
                </p>
            </div>
        </div>

        <!-- <div class="banner-content"><i class="fa-5x fa-plus" aria-hidden="true"></i> </div> -->
    </div> 
    </a>

    <div class="row projects-row row-even">
        <div class="col">
            <div class="card projects-card-text">
                <p class="fs-2"> CDT Africa </p>
                <p id="projects-text">
                    <strong> Project deliverable: </strong>
                    Video Conferencing 
                </p>
                <p id="projects-text">
                    <strong> Project Size: </strong> 1M+ ETB
                </p>
            </div>
        </div>

        <div class="col">
            <div class="card projects-card-img">
                <img src="https://img.freepik.com/free-vector/remote-meeting-concept-illustration_114360-4614.jpg" class="card-img-service" alt="...">
            </div>
        </div>
    </div>

    <div class="row projects-row">
        <div class="col">
            <div class="card projects-card-img">
                <img src="https://img.freepik.com/premium-vector/flat-business-online-education-elearning-home-concept-webinar-video-training-tutorial-podcast-coaching-outline-design-style-minimal-vector-illustration_269730-1821.jpg" class="card-img-service" alt="...">
            </div>
        </div>
        
        <div class="col">
            <div class="card projects-card-text">
                <p class="fs-2"> Wachemo University </p>
                <p id="projects-text">
                    <strong> Project deliverable: </strong>
                    VDI And Smart Education System
                </p>
                <p id="projects-text">
                    <strong> Project Size: </strong> 1M+ ETB
                </p>
            </div>
        </div>
    </div>

    <div class="row projects-row row-even">
        <div class="col">
            <div class="card projects-card-text">
                <p class="fs-2"> Radisson Blu</p>
                <p id="projects-text">
                    <strong> Project deliverable: </strong>
                    Video Conferencing and Virtual Platform Supply and Installation  
                </p>
                <p id="projects-text">
                    <strong> Project Size: </strong> 1M ETB
                </p>
            </div>
        </div>

        <div class="col">
            <div class="card projects-card-img">
                <img src="https://img.freepik.com/premium-vector/video-conferencing-home-man-having-video-call-meeting-with-clients-home-greeting-messages-many-different-written-languages_218660-169.jpg" class="card-img-service" alt="...">
            </div>
        </div>
    </div>

    
    <div class="row projects-row">
        <div class="col">
            <div class="card projects-card-img">
                <img src="https://img.freepik.com/premium-vector/isometric-illustration-concept-team-is-analyzing-server-data-security_18660-1813.jpg" class="card-img-service" alt="...">
            </div>
        </div>
        
        <div class="col">
            <div class="card projects-card-text">
                <p class="fs-2"> Office Of Federal Auditor General </p>
                <p id="projects-text">
                    <strong> Project deliverable: </strong>
                    Network Operation Center And Virtual Management Platform Supply
                </p>
                <p id="projects-text">
                    <strong> Project Size: </strong> 1M+ ETB
                </p>
            </div>
        </div>
    </div>

    <div class="row projects-row row-even">
        <div class="col">
            <div class="card projects-card-text">
                <p class="fs-2"> National Disaster and Risk Management Center </p>
                <p id="projects-text">
                    <strong> Project deliverable: </strong>
                    Data Center, Storage and Backup & Anti-virus
                </p>
                <p id="projects-text">
                    <strong> Project Size: </strong> 1M ETB
                </p>
            </div>
        </div>

        <div class="col">
            <div class="card projects-card-img">
                <img src="https://img.freepik.com/premium-vector/computer-network-server-data_18660-1567.jpg" class="card-img-service" alt="...">
            </div>
        </div>
    </div>


    <div class="row projects-row">
        <div class="col">
            <div class="card projects-card-img">
                <img src="https://img.freepik.com/free-vector/hand-drawn-flat-design-ransomware-illustration_23-2149373423.jpg" class="card-img-service" alt="...">
            </div>
        </div>
        
        <div class="col">
            <div class="card projects-card-text">
                <p class="fs-2"> United Nation Development Program (UNDP) </p>
                <p id="projects-text">
                    <strong> Project deliverable: </strong>
                    Anti-Virus installation and commissioning
                </p>
                <p id="projects-text">
                    <strong> Project Size: </strong> 1M+ ETB
                </p>
            </div>
        </div>
    </div>

    <div class="row projects-row row-even">
        <div class="col">
            <div class="card projects-card-text">
                <p class="fs-2"> Asian Disaster Preparedness Center </p>
                <p id="projects-text">
                    <strong> Project deliverable: </strong>
                    Network and Video Conferencing  
                </p>
                <p id="projects-text">
                    <strong> Project Size: </strong> 1M ETB
                </p>
            </div>
        </div>

        <div class="col">
            <div class="card projects-card-img">
                <img src="https://img.freepik.com/premium-vector/video-calling-online-conference-internet-call-business-chat-group-people-have-distance-discussion-web-meeting-digital-webinar-illustration-remote-education-vector-concept_53562-13812.jpg" class="card-img-service" alt="...">
            </div>
        </div>
    </div>


    <div class="row projects-row">
        <div class="col">
            <div class="card projects-card-img">
                <img src="https://cdni.iconscout.com/illustration/premium/thumb/parcel-distribution-5365229-4500192.png" class="card-img-service" alt="...">
            </div>
        </div>
       
        <div class="col">
            <div class="card projects-card-text">
                <p class="fs-2"> Woldia University </p>
                <p id="projects-text">
                    <strong> Project deliverable: </strong>
                    Supply of ICT Materials
                </p>
                <p id="projects-text">
                    <strong> Project Size: </strong> 1M+ ETB
                </p>
            </div>
        </div>
    </div>

    <a class="card-button" routerLink="/projects/wollo-smart-classroom" routerLinkActive="active" ariaCurrentWhenActive="page">
    <div class="row projects-row row-even">
        <div class="col">
            <div class="card projects-card-text">
                <p class="fs-2"> Wollo University </p>
                <p id="projects-text">
                    <strong> Project deliverable: </strong>
                    Smart Classroom Installation, Configuration and Testing  
                </p>
                <p id="projects-text">
                    <strong> Project Size: </strong> 30M+ ETB
                </p>
            </div>
        </div>

        <div class="col">
            <div class="card projects-card-img">
                <img src="https://img.freepik.com/free-vector/isometric-learning-process-university-template-with-students-studying-brainstorming-classroom-isolated_1284-39077.jpg?w=740&t=st=1695037873~exp=1695038473~hmac=fc03ce917168a03b03097549fc9fd34b2c69d8fe376458636f7f3cc19b077b5c" class="card-img-service" alt="...">
            </div>
        </div>
    </div>
    </a>
</div>
