<!-- IT consultancy -->
<section id="go-to-up"></section>

<div class="container-fluid">
    <div class="row front-row">
        <div class="col front-col" id="right-side">
            <h1 class="headline"> Business and Technology Consultation </h1>
            <br/>
            <p id="welcome-text">
                IT consulting services we provide are advisory services that assist clients in evaluating 
            various technological strategies and, as a result, coordinating their technological strategies 
            with their business or process plans. These services provide strategic, architectural, 
            operational, and implementation planning to assist customers' IT initiatives. Strategic 
            planning entails advising services that assist clients in determining their IT 
            requirements and creating plans for system implementation. The logical architecture 
            of the system and the supporting infrastructure are created using advisory services 
            that incorporate strategic plans and knowledge of cutting-edge technologies to satisfy 
            customer requirements. Services that examine the operational effectiveness and 
            capability of a client's IT infrastructure are included in operational assessment/benchmarking. 
            Services aimed at advising clients on the deployment and testing of new solutions are 
            included in implementation planning.

            By optimizing the ability to match technology with the business demands and opportunities 
            that are continually emerging, Convergence IT Solutions, as IT consultant, can provide 
            value to you.
            </p>
        </div>
        <div class="col front-col">
          <img src="https://img.freepik.com/free-vector/global-data-security-personal-data-security-cyber-data-security-online-concept-illustration-internet-security-information-privacy-protection_1150-37336.jpg" alt="dcf" class="front-page-image" width="500em" height="400em">
        </div>
    </div>
</div>


<section class="contact-section">
    <div class="col ">
      <h1 class="text-center headline-4">
        Meet our experts who provide quality consultancy service
      </h1>
      <div class="col text-center">
        <button type="button" class="btn btn-outline-primary btn-rounded">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
            Contact Us </a>
        </button>
      </div>
    </div>
</section>
