.container-fluid {
    background-color: white;
    width: 100%;
    height: 100%;
}

.front-row{
    display: flex;  
    flex-direction: row;
    align-items: center;
    margin-left: 5em;
}

.front-col {
    vertical-align: bottom;
    color: #0b91b8;
    font-family: 'Poppins', 'Sans serif';
    font-size: 16px;
    margin-top: 4em;
    margin-bottom: 5em;
}

.headline{
    font-size: 2em;
    font-weight: bold;
}

#welcome-text {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Sans' Serif;
    line-height: 1.5;
    text-align: justify;
    color: grey;
}

.front-page-image {
    margin-left: 3em;
}

.btn-rounded {
    margin-top: 1.5em;
    width: 11em;
    height: 3.5em;
    font-family: 'Poppins', serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    line-height: 15px;
    border: 1px solid white;
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}
  
.btn-rounded:hover {
    color: #0b91b8;
    background: white;
    border: 1px solid #0b91b8;
}

.headline-4 {
    font-family: 'Poppins', serif;
    color: white;
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 0.3em;
}

.contact-section {
    padding-top: 4em;
    margin-bottom: 5em;
    width: 100%;
    height: 40vh;
    background-color: #0b91b8;
}



/* For mobile phones: */
@media only screen and (max-width: 768px) {

    .container-fluid {
        height: 100%;
    }

    .headline{
        font-size: 1.9em;
        font-family: 'sans serif';
    }

    .headline-4 {
        font-size: 20px;
    }

    #welcome-text {
        font-size: 15px;
        padding-bottom: 0.5em;
    }

    .front-row {
        padding-top: 2.5em;
        padding-bottom: 2em;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .front-col {
        width: 100%;
        height: 100%;
        margin-left: -6em;
        margin-bottom: 1.5em;
        padding: 0.5em;
        /* border: 2px solid red; */
    }

    .front-page-image {
        display: none;
    }

    .underline {
        width: 15%;
    }

    .contact-section {
        padding-top: 3em;
        padding-bottom: 3em;
        width: 100%;
        height: 100%;
    }

    .second-headline {
        padding-top: 0.5em;
    }

}