
<!-- Smart Facility -->

<div class="container-fluid">
    <div class="row front-row">
        <div class="col front-col" id="right-side">
            <h1 class="headline"> Smart Facility </h1>
            <br/>
            <p id="welcome-text">
                Smart facilities management is the integration of processes, systems, and technologies 
                used to improve the management of a facility. It can look quite simple or extremely complex, 
                depending on the focus which involves creating an IoT network, collecting data, and using 
                it to identify data trends. 
                
                We offer technology solutions that enables facility managers to change the atmosphere 
                in accordance with the needs of staff, clients, tenants, or business requirements. 
                Smart facilities promote change, facilitate data-driven decisions, and enhance outcomes 
                while having a beneficial impact on people and processes.
            </p>
            <button class="learn-more btn btn-primary"> 
                <a (click)="onClick('direct-element')"> Learn more </a>
            </button>
        </div>
        <div class="col front-col">
            <img src="https://img.freepik.com/premium-vector/smart-city-with-cloud-server-smartphone-data-security_18660-275.jpg" alt="dcf" class="front-page-image" width="700em" height="500em">
        </div>
    </div>
</div> 


<section class="contact-section">
    <div class="col ">
      <h1 class="text-center headline-4">
        Turn your building or facilities to become smarter
      </h1>
      <div class="col text-center">
        <button type="button" class="btn btn-outline-primary btn-rounded">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
              Contact Us </a>
        </button>
      </div>
    </div>
</section>


<div class="grid" direct-element>
    <div class="row facility-solutions-row">
        <div class="col">
            <div class="card solutions-card-img">
                <img src="https://img.freepik.com/free-vector/man-engineer-working-computer-server-rack-switchboard-guy-switching-panel-cabinet-with-plugged-ethernet-optical-cables-telecommunications-engineering-concept-flat-illustration_74855-20639.jpg" class="card-img-service" alt="...">
            </div>
        </div>
        
        <div class="col">
            <div class="card solutions-card-text">
                <p class="fs-2"> Data Center Power System </p>
                    <p id="solution-text">
                        Data centers need reliable power, which is an essential component. 
                        Facilities managers need to make sure that there is a continual supply 
                        of clean, uninterrupted electricity on a regular basis in order to 
                        ensure that everything operates well in the data center at all times.

                        We offer complete power solutions for data centers with our backup and 
                        UPS systems, from design and development through installation and maintenance.
                    </p>
            </div>
        </div>
    </div>

    <div class="row facility-solutions-row row-even">
        <div class="col">
            <div class="card solutions-card-text">
                <p class="fs-2"> Smart Buildings </p>
                    <p id="solution-text"> 
                        A smart building is a creative structure that makes use of smart technologies 
                        integrated throughout to monitor and enhance building automation control to meet 
                        user needs. IoT sensors and building management systems are smart building 
                        technologies we provide.
                        
                        Sensors are used to gather data about building usage. Management of the climate 
                        control, sun protection, lighting, security, and other systems is accomplished 
                        using these data. In order to enhance the user experience, our systems also 
                        communicate with one another and gain knowledge from the data gathered.
                    </p>
            </div>
        </div>

        <div class="col">
            <div class="card solutions-card-img">
                <img src="https://img.freepik.com/free-vector/3d-concept-modern-smart-city-with-skyscrapers-public-places-roads-cars-park-isometric-illustration_1284-62036.jpg" class="card-img-service" alt="...">
            </div>
        </div>
    </div>

    <div class="row facility-solutions-row">
        <div class="col">
            <div class="card solutions-card-img">
                <img src="https://img.freepik.com/free-vector/isometric-icon-with-man-presenting-project-white-board-business-meeting_1284-63948.jpg" class="card-img-service" alt="...">
            </div>
        </div>
        
        <div class="col">
            <div class="card solutions-card-text">
                <p class="fs-2"> Smart Classroom & Meeting Rooms </p>
                    <p id="solution-text">
                        A smart classroom is a learning environment that uses technology to improve digital 
                        teaching and learning. Digital displays, tabs, whiteboards, assistive listening devices, 
                        and other audio/visual elements are integrated into the classroom to make lectures 
                        simpler, more interesting, and more interactive.

                        Our smart meeting room solutions also offer wireless presentations, video and telephone 
                        conferences, and joint editing of documents.
                    </p>
            </div>
        </div>
    </div>

    <div class="row facility-solutions-row row-even">
        <div class="col">
            <div class="card solutions-card-text">
                <p class="fs-2"> Operation Centers (NOC/SOC). </p>
                    <p id="solution-text">
                        The Network Operations Center aids in reviewing the overall environment to comprehend 
                        network architecture and how everything flows in the network. It also collects server, 
                        firewall, and endpoint logs and performs threat-hunting and customer needs-tuning.
                        
                        In order to obtain a comprehensive understanding of your business and to offer managed 
                        security services, risk management, and compliance services, we combine NOC (Network 
                        Operations Center) and SOC (Security Operations Center) tasks.
                    </p>
            </div>
        </div>

        <div class="col">
            <div class="card solutions-card-img">
                <img src="https://img.freepik.com/premium-vector/system-administrator-upkeeping-server-adjusting-network-pc-hardware-sysadmin-repairing-computer-administration-data-center-maintenance-service-repairman-doing-technical-work-with-server-rack_458444-1733.jpg" class="card-img-service" alt="...">
            </div>
        </div>
    </div>

</div>