<section class="section-1">
    <div class="row front-row">
        <div class="col .col-sm-* .col-md-* .col-lg-* front-col" id="right-side">
            <p class="headline" id="welcome-text"> WELCOME TO</p>
            <h1 class="headline"> CONVERGENCE IT SOLUTIONS </h1>
            <br/>
            <p class="headline" id="welcome-text" style="color: grey;"> 
              Empowering those who lead the digital transformation to bring their business to the next 
              level and turn it into a competitive advantage and technology
            </p>
            <button class="learn-more btn btn-primary"> 
              <a (click)="onClick('direct-element')"> Learn more </a>
            </button>
        </div>
        <div class="col .col-sm-* .col-md-* .col-lg-* front-col" id="left-side">
            <img src="https://img.freepik.com/premium-vector/team-is-processing-cloud-server-data_18660-3279.jpg" alt="dcf" class="front-page-image" width="600em" height="500em">
        </div> 
    </div>
</section>


<section class="section-2" id="direct-element">
    <div class="col .col-sm-* .col-md-* .col-lg-* second-headline">
        <p class="text-center fs-1">Why Choose Us</p>
        <hr class="underline"/>
        <div class="row img-cards">
            <div class="col .col-sm-4 .col-md-4 .col-lg-4">
                <div class="card whyUsCard">
                    <img src="assets/quality.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-center"> Quality </h5>
                      <p class="card-text text-center">
                        We deliver our services with the best quality. We have
                        a team of experts who give reliable solutions for your business.
                      </p>
                    </div>
                </div>
            </div>
            <div class="col .col-sm-4 .col-md-4 .col-lg-4">
                <div class="card whyUsCard">
                    <img src="assets/services.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-center"> Support </h5>
                      <p class="card-text text-center">
                        We provide a quick technical support and consultancy on the services we 
                        deliver. We are just one call away.
                      </p>
                    </div>
                  </div>
            </div>
            <div class="col col-sm-4 .col-md-4 .col-lg-4">
                <div class="card whyUsCard">
                    <img src="assets/delivery.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-center"> Delivery </h5>
                      <p class="card-text text-center">
                        We deliver our projects on-time handled by our well trained project managers.
                      </p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>


<section class="section-3">
    <div class="col .col-sm-* .col-md-* .col-lg-* second-headline">
        <p class="text-center fs-1">Company highlights</p>
        <hr class="underline"/>
        <div class="col .col-sm-* .col-md-* .col-lg-*">
          <div class="row img-cards-profile">
            <div class="col-sm-4 .col-md-4 .col-lg-4">
                <div class="card profile-card">
                    <i class="fa-solid fa-industry fa-7x"></i>
                    <div class="card-body">
                      <p class="card-text text-center">
                        Founded in 2018 aiming to provide distinctive,
                        specialized, and high-quality turnkey solutions
                      </p>
                    </div>
                  </div>
            </div>
            <div class="col-sm-4 .col-md-4 .col-lg-4">
                <div class="card profile-card">
                  <i class="fa-solid fa-people-group fa-7x"></i>
                    <div class="card-body">
                      <p class="card-text text-center">
                        Employees with hands-on experience and certifications
                      </p>
                    </div>
                  </div>
            </div>
            <div class="col-sm-4 .col-md-4 .col-lg-4">
                <div class="card profile-card">
                  <i class="fa-brands fa-servicestack fa-7x"></i>
                    <div class="card-body">
                      <p class="card-text text-center">
                        Provides Multi-vendor IT solutions and end to end services
                      </p>
                    </div>
                  </div>
            </div>
        </div>

        <div class="row img-cards-profile">
          <div class="col-sm-4 .col-md-4 .col-lg-4">
              <div class="card profile-card">
                <p class="numbers"> 15<i class="fa-solid fa-add"></i> </p>
                  <div class="card-body">
                    <p class="card-text text-center">
                      Working in partnership with the best vendors in the industry 
                    </p>
                  </div>
                </div>
          </div>
          <div class="col-sm-4 .col-md-4 .col-lg-4">
              <div class="card profile-card">
                <p class="numbers"> 10<i class="fa-solid fa-add"></i> </p>
                  <div class="card-body">
                    <p class="card-text text-center">
                      Enterprises and organizations working with us serving their needs 
                    </p>
                  </div>
              </div>
          </div>
          <div class="col-sm-4 .col-md-4 .col-lg-4">
              <div class="card profile-card">
                <p class="numbers"> 10<i class="fa-solid fa-add"></i> </p>
                  <div class="card-body">
                    <p class="card-text text-center">
                      Completed projects fulfilling the necessary quality standards
                    </p>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
</section>


<section class="section-4">
  <div class="col">
    <h1 class="text-center headline-4">
      Would you like to start a project with us?
    </h1>
    <div class="col text-center">
      <button type="button" class="btn btn-outline-primary btn-rounded">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
          Contact Us </a>
      </button>
    </div>
  </div>
</section>


<section class="section-8">
  <div class="container service-container">
    <p class="text-center fs-1"> Our Services </p>
    <hr class="underline"/>
    <br/>

    <div class="row row-cols-2">
      <div class="col col-sm-* col-md-* col-lg-* service-col">
        <div class="card service-card">
          <img src="https://img.freepik.com/premium-vector/security-control-computer-platform-maintain-cloud-server_18660-3058.jpg" class="card-img-service" alt="...">
        </div>
      </div>

      <div class="col col-sm-* col-md-* col-lg-* service-col">
        <div class="card service-card-odd" style="padding-left: 1em;">
          <i class="fa-duotone fa-1 fa-3x"></i>
          <p class="fs-2 service-headline"> Data Center Facility </p>
          <div class="card-body">
                <ul class="list-group list-unstyled">
                  <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i>
                    Computing, Storage and OS, Backup and Recovery
                  </li>
                  <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i> 
                    Serve and Desktop virtualization, Converged Infrastructure
                  </li>
                  <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i> 
                    Application Delivery and Load Balancing, Hyper-Convergence
                  </li>
                  <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i> 
                    Cloud Automation and Orchestration, On-perm & public cloud
                  </li>
                </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-2 row-even">
      <div class="col col-sm-* col-md-* col-lg-* service-col">
        <div class="card service-card">
          <i class="fa-duotone fa-2 fa-3x"></i>
          <p class="fs-2 service-headline"> Cloud managed services </p>
            <div class="card-body">
              <ul class="list-group list-unstyled">
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i>
                  Consultancy
                  </li>
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i> 
                  Quality assurance
                </li>
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i> 
                  Managed Software ERP
                </li>
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i> 
                  Managed Security 
                </li>
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i> 
                  Technical Support Services
                </li>
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i> 
                  VISP Services
                </li>
              </ul>
            </div>
        </div>
      </div>

      <div class="col col-sm-* col-md-* col-lg-* service-col">
        <div class="card service-card">
          <img src="https://img.freepik.com/premium-vector/cloud-server-branch-office-network_18660-1417.jpg" class="card-img-service" alt="...">
        </div>
      </div>
    </div>

    <div class="row row-cols-2">
      <div class="col col-sm-* col-md-* col-lg-* service-col">
        <div class="card service-card">
          <img src="assets/services.webp" class="card-img-service" alt="...">
        </div>
      </div>

      <div class="col col-sm-* col-md-* col-lg-* service-col">
        <div class="card service-card-odd">
          <i class="fa-duotone fa-3 fa-3x"></i>
          <p class="fs-2 service-headline"> Enterprise IT Infrastructure </p>
            <div class="card-body">
              <ul class="list-group list-unstyled">
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i>
                  Wireless LAN
                  </li>
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i> 
                  WAN Optimization
                </li>
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i> 
                  Collaboration
                </li>
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i> 
                  Infrastructure
                </li>
              </ul>
            </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-2 row-even">
      <div class="col col-sm-* col-md-* col-lg-* service-col">
        <div class="card service-card">
          <i class="fa-duotone fa-4 fa-3x"></i>
          <p class="fs-2 service-headline"> Network & Computer Security </p>
            <div class="card-body">
              <ul class="list-group list-unstyled">
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i>
                  Infrastructure Security
                  </li>
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i> 
                  Endpoint Security
                </li>
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i> 
                  Datacenter Security
                </li>
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i> 
                  Security Operations
                </li>
              </ul>
            </div>
        </div>
      </div>

      <div class="col col-sm-* col-md-* col-lg-* service-col">
        <div class="card service-card">
          <img src="https://img.freepik.com/premium-vector/endpoint-protection-cloud-server_18660-741.jpg" class="card-img-service" alt="...">
        </div>
      </div>
    </div>

    <div class="row row-cols-2">
      <div class="col col-sm-* col-md-* col-lg-* service-col">
        <div class="card service-card">
          <img src="assets/software.jpg" class="card-img-service" alt="...">
        </div>
      </div>
      
      <div class="col col-sm-* col-md-* col-lg-* service-col">
        <div class="card service-card-odd">
          <i class="fa-duotone fa-5 fa-3x"></i>
          <p class="fs-2 service-headline"> Software & System solutions </p>
            <div class="card-body">
              <ul class="list-group list-unstyled">
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i>
                  Internet of Things (IoT) applications
                  </li>
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i> 
                  Full ERP Solution
                </li>
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i> 
                  Big Data and Analytics solutions
                </li>
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i> 
                  Anti Money Laundry
                </li>
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i> 
                  Smart Office Solution
                </li>
              </ul>
            </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-2 row-even">
      <div class="col col-sm-* col-md-* col-lg-* service-col">
        <div class="card service-card">
          <i class="fa-duotone fa-6 fa-3x"></i>
          <p class="fs-2 service-headline"> Smart Facility </p>
            <div class="card-body">
              <ul class="list-group list-unstyled">
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i>
                  Datacenter Power System
                  </li>
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i> 
                  Smart Buildings
                </li>
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i> 
                  Smart Classroom & Meeting Rooms
                </li>
                <li class="list-group-item borderless"> <i class="fa-sharp fa-solid fa-circle fa-xs"></i> 
                  Operation Centers (NOC/SOC)
                </li>
              </ul>
            </div>
        </div>
      </div>

      <div class="col col-sm-* col-md-* col-lg-* service-col">
        <div class="card service-card">
          <img src="https://cdni.iconscout.com/illustration/premium/thumb/modern-city-3134180-2612464.png" class="card-img-service" alt="...">
        </div>
      </div>
    </div>

  </div>
</section>


<section class="section-5">
  <div class="container text-center">
    <p class="text-center fs-1 second-headline"> Clients </p>
    <p class="text-center partners-text">
      We work closely with a wide range of clients from 
      different sectors and regions across the public sector 
      and the private sector.
    </p>
  </div>
</section>

<section class="section-6">
  <div class="container text-center">
    <div class="row row-cols-4 client-row">
      
      <div class="col">
        <div class="card client-card">
          <img src="https://ethiojobs.b-cdn.net/wp-content/uploads/2021/02/Mekdela-Amba-University-Ethiopia.jpg" class="card-img-client" alt="...">
        </div>
      </div>
 
      <div class="col">
        <div class="card client-card">
          <img src="https://pbs.twimg.com/profile_images/1209335090347560962/eTZXP08A_400x400.jpg" class="card-img-client" alt="...">
        </div>
      </div>

      <div class="col">
        <div class="card client-card">
          <img src="https://media.licdn.com/dms/image/C4D03AQH6i5OYf4Al7A/profile-displayphoto-shrink_800_800/0/1591400132492?e=2147483647&v=beta&t=_Xur5vUMzlgwm3VPR6MAvm02jGUIQDA31xYTgmc2LUM" class="card-img-client" alt="...">
        </div>
      </div>

      <div class="col">
        <div class="card client-card">
          <img src="https://www.ena.et/documents/42142/0/2022_05_5555555555555555555555555_png.png/0eefc748-d352-7edb-98f3-06fb386fc6d8?version=1.0&t=1674399787888&download=true" class="card-img-client" alt="...">
        </div>
      </div>
    </div>

    <div class="row row-cols-4 client-row">
      <div class="col">
        <div class="card client-card">
          <img src="https://convergencesolutons.com/company-images/wachemo.jpeg" class="card-img-client" alt="...">
        </div>
      </div>

      <div class="col">
        <div class="card client-card">
          <img src="https://convergencesolutons.com/company-images/trademarklogo.jpg" class="card-img-client" alt="...">
        </div>
      </div>

      <div class="col">
        <div class="card client-card">
          <img src="https://convergencesolutons.com/company-images/yekatit12.jpeg" class="card-img-client" alt="...">
        </div>
      </div>

      <div class="col">
        <div class="card client-card">
          <img src="https://convergencesolutons.com/company-images/undp.jpg" class="card-img-client" alt="...">
        </div>
      </div>
    </div>

  </div>
</section>


<section class="section-7">
  <div class="container text-center">
    <p class="text-center fs-1 second-headline"> Partners </p>
    <p class="text-center partners-text">
      We work in partnership with the best vendors in the industry.
    </p>
  </div>
</section>


<section class="section-8">
  <div class="container text-center">
    <div class="row row-cols-4">
      <div class="col">
        <div class="card partners-card">
          <img src="https://i.pinimg.com/564x/31/fb/85/31fb85c52e2b95b72b46880c284873b5.jpg" class="card-img-partner" alt="...">
        </div>
      </div>

      <div class="col">
        <div class="card partners-card">
          <img src="https://pbs.twimg.com/profile_images/1009484817048616960/HEWwkLcQ_400x400.jpg" class="card-img-partner" alt="...">
        </div>
      </div>

      <div class="col">
        <div class="card partners-card">
          <img src="https://www.cisilion.com/wp-content/uploads/2019/02/Partner-logo-size-2.png" class="card-img-partner" alt="...">
        </div>
      </div>

      <div class="col">
        <div class="card partners-card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXewUU4KhR7CeRIU-NP2_ITxQOJdFXk-9Ym7lnGJokl393IlTIb21pD6pF6bHITZizJW4&usqp=CAU" class="card-img-partner" alt="...">
        </div>
      </div>
    </div>

    <div class="row row-cols-4">
      <div class="col">
        <div class="card partners-card">
          <img src="https://pcpanda.co.in/imgs/sophos.png" class="card-img-partner" alt="...">
        </div>
      </div>

      <div class="col">
        <div class="card partners-card">
          <img src="https://thinkadnet.com/wp-content/uploads/2020/07/partner-logo-fortinet.png" class="card-img-partner" alt="...">
        </div>
      </div>

      <div class="col">
        <div class="card partners-card">
          <img src="https://thinkadnet.com/wp-content/uploads/2020/07/partner-logo-vmware.png" class="card-img-partner" alt="...">
        </div>
      </div>

      <div class="col">
        <div class="card partners-card">
          <img src="https://seeklogo.com/images/U/undp-logo-5682674D5C-seeklogo.com.png" class="card-img-partner" alt="...">
        </div>
      </div>
    </div>

  </div>
</section>
