<!-- Data center facility -->
<section id="go-to-up"></section>

<div class="container-fluid">
    <div class="row front-row">
        <div class="col front-col" id="right-side">
            <h1 class="headline"> Datacenter Facility </h1>
            <br/>
            <p id="welcome-text">
                Our knowledgeable specialists use the most recent technology, such as data centers with sustainable 
                power supply, whether they are for corporate, modular, edge, or hyperscale data facilities. 
                Resilient data centers that can function in the worst conditions start with reliable and strong 
                backup power lowering the risk of downtime, equipment damage, and environmental catastrophes, 
                saving money and maintaining data flow.

                Data center facilities design and implementation, data center facilities consulting services that 
                produce hybrid infrastructure-ready data centers as an integrated part of IT strategy, and enable 
                company growth and change with strategic data center planning are just a few of the services we 
                offer.
            </p>
            <button class="learn-more btn btn-primary"> 
                <a (click)="onClick('direct-element')"> Learn more </a>
            </button>
        </div>
        <div class="col front-col">
            <img src="https://img.freepik.com/free-vector/data-management-collective-database-tower-people-share-commonplace-centralized-mainframe-widespread-info-stored-files-custom-regulation-vector-isolated-concept-metaphor-illustration_335657-2129.jpg" alt="dcf" class="front-page-image" width="600em" height="500em">
        </div>
    </div>
</div>


<section class="contact-section">
    <div class="col ">
      <h1 class="text-center headline-4">
        Unlock the true potential of your network and improve customer experience
      </h1>
      <div class="col text-center">
        <button type="button" class="btn btn-outline-primary btn-rounded">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
              Contact Us </a>
        </button>
      </div>
    </div>
</section>


<div class="grid" id="direct-element">
    <div class="row datacenter-solutions-row">
        <div class="col">
            <div class="card solutions-card-img">
                <img src="https://img.freepik.com/premium-vector/cloud-computing-technology-isometric-concept-with-computer-laptop-mobile-phone-tablet-shield-icons-security-cloud-storage-server-big-data-processing-isolated-vector-illustration_108855-3601.jpg" class="card-img-service" alt="...">
            </div>
        </div>
        
        <div class="col">
            <div class="card solutions-card-text">
                <p class="fs-2"> Computing and Storage </p>
                    <p id="solution-text">
                        The infrastructure needed to support today's apps and workloads must be elastic, scalable, optimized, 
                        and cloud-compatible. A new generation of virtualization, storage, and computing technologies emerged 
                        in response to these urgent needs.
                        
                        Your organization's applications and data should be powered by storage and computing resources, which 
                        provide accessibility, availability, and the integrity of crucial information assets whether on-premises
                        or in the cloud. Scalability and elastic storage capacity are needed to keep up with the exponential 
                        growth of data. Agility is also needed due to increased application demands. We offer converged 
                        infrastructures, integrated storage, hybrid and multi-cloud computing, and business-driven IT solutions 
                        to meet your demand. 
                    </p>
            </div>
        </div>
    </div>

    <div class="row datacenter-solutions-row row-even">
        <div class="col">
            <div class="card solutions-card-text">
                <p class="fs-2"> Desktop virtualization and Converged Infrastructure </p>
                    <p id="solution-text">
                        IT businesses can more efficiently manage resources and respond rapidly to shifting workload 
                        demand by implementing virtualization, which decouples data and programs from the physical 
                        resources on which they run. 
                        
                        By reducing the number of physical servers needed to run applications and handle workloads, 
                        virtualization aids enterprises in lowering total cost of ownership. Additionally, it increases 
                        the effectiveness of those computer resources, improving application performance.
                    </p>
            </div>
        </div>

        <div class="col">
            <div class="card solutions-card-img">
                <img src="https://img.freepik.com/premium-vector/desktop-cloud-server-email-data-transfer_18660-2824.jpg" class="card-img-service" alt="...">
            </div>
        </div>
    </div>

    <div class="row datacenter-solutions-row">
        <div class="col">
            <div class="card solutions-card-img">
                <img src="https://www.asia-net.com.hk/wp-content/uploads/2021/03/Group-3413.png" class="card-img-service" alt="...">
            </div>
        </div>
        
        <div class="col">
            <div class="card solutions-card-text">
                <p class="fs-2"> Application Delivery and Load Balancing </p>
                    <p id="solution-text">
                        If your company uses commercial apps from well-known suppliers, you must provide lightning-fast 
                        response times, round-the-clock accessibility, easy access from many locations, and trustworthy 
                        enterprise network security. With a distinctive range of products, convergence enables you to 
                        address these needs.
                        
                        You may streamline operations while assuring resilience with the help of our load balancing and 
                        application delivery solutions. They offer an application-aware, future-proof method of installing 
                        and managing apps. To guarantee mission-critical applications' 24/7 availability, performance, 
                        and security, they offer sophisticated and all-encompassing application capabilities.
                    </p>
            </div>
        </div>
    </div>

    <div class="row datacenter-solutions-row row-even">
        <div class="col">
            <div class="card solutions-card-text">
                <p class="fs-2"> Cloud Automation and Orchestration </p>
                    <p id="solution-text">
                        The practice of automating the procedures required to manage connections and operations of workloads 
                        on private and public clouds is known as cloud orchestration. To carry out particular business 
                        operations, cloud orchestration solutions include automated tasks and procedures into a workflow.

                        You can do away with the manual tasks that slow you down with our IaaS, PaaS, and IaaS services. 
                        Your team can offer the infrastructure, software, and services that drive your business more 
                        quickly and intelligently with Convergence. Reduce friction and speed up creativity by completing 
                        time-consuming requests in minutes as opposed to days.
                    </p>
            </div>
        </div>

        <div class="col">
            <div class="card solutions-card-img">
                <img src="https://sue.eu/sueeuv2/wp-content/uploads/sites/5/2022/07/1200x1200-isometric-sue-04.png" class="card-img-service" alt="..." width="550em" height="600em">
            </div>
        </div>
    </div>

</div>
