
<!-- Training programs -->

<div class="container-fluid">
    <div class="row front-row">
        <div class="col front-col" id="right-side">
            <h1 class="headline"> IT Trainings </h1>
            <br/>
            <p id="welcome-text">
                Convergence offers targeted, concentrated courses on how to employ technology in your company. 
                Our professionals offer programs that particularly target the challenges vital to your company, 
                from sporadic lunch-and-learns to comprehensive IT training courses. These courses can be 
                tailored to your entire employees, particular teams, or departments. 
                
                Our team of experts in technical training services gives consumers the know-how to promote 
                technology adoption and consumption, which boosts employee productivity. Our customised approach 
                to learning adapts training based on the time constraints and learning objectives of your 
                organization, frequently creating micro-sessions in addition to our specialized on-demand and 
                on-site choices.
            </p>
        </div>
        <div class="col front-col">
            <img src="https://img.freepik.com/free-vector/scientists-studying-neural-connections-programmers-writing-codes-machine-brain_74855-14157.jpg?w=2000" alt="dcf" class="front-page-image" width="600em" height="400em">
        </div>
    </div>
</div>

 
<section class="contact-section">
    <div class="col ">
      <h1 class="text-center headline-4">
        Finding the right Training solution for your needs?
      </h1>
      <div class="col text-center">
        <button type="button" class="btn btn-outline-primary btn-rounded">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
            Contact Us </a>
        </button>
      </div>
    </div>
</section>
